
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 164, 164);
  }
  
  /* .App{
    width: 25%;
    margin: 2rem auto;
    background-color: rgb(222, 164, 164);
    border-radius: 2px solid grey;
  } */
  
  .button-container{
    width: 20%;
    margin: 2rem auto;
    background-color: #FFFFFF;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 15px ;
    justify-content: center;
  
  }
  
  /* form{
    padding: 15px;
    justify-content: center;
    margin-left: 15px;
  } */
  
  #display{
    width: 100%;
    height: 70px;
    text-align: right;
    margin: 1.5rem auto;
    padding: 15px;
    color: #FFFFFF;
    background-color: rgb(238, 146, 113);
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
  }
  
  .wrap{
    display: grid;
    justify-content: start;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 40px  40px 40px 40px 40px;
    row-gap: 10px;
    column-gap: 10px;
  }
  .wrap button{
    outline: none;
    border: none;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .wrap button:hover{
    background-color:rgb(250, 226, 217) ;
  }


  #result-display{
    text-align: right;
    font-size: 25px;
    font-weight: 600;
    color:rgb(238, 146, 113) ;
  }
  
  #equal-sign{
    width: 40px;
    height: 80px;
    background-color: rgb(238, 146, 113);
    border-radius: 6px;
  }
  #del{
    font-size: 12px;
  }

@media(min-width:320px) and (max-width:500px){
  .button-container{
    width: 70%;
  }
}
  
@media(min-width:501px) and (max-width:650px){
  .button-container{
    width:50%;
  }

}